.projects {
  padding: 2rem;
  background-color: #f7f8fa;
  color: #333;
  text-align: center;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem; /* Reduced margin for a tighter layout */
  color: #333;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem; /* Reduced gap between project cards */
  justify-items: center;
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
  text-align: left;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  font-size: 1.5rem;
  margin: 1rem;
  color: #333;
}

.project-card p {
  font-size: 1rem;
  margin: 0 1rem 1rem;
  color: #555;
}

.project-card a {
  display: inline-block;
  margin: 0 1rem 1rem;
  padding: 0.5rem 1rem;
  background-color: #00bcd4;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.project-card a:hover {
  background-color: #0097a7;
}